body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

div.card{
    position:absolute;
    bottom:20px;
    left:20px;
    padding:20px;
    box-shadow:5px 5px 5px rgba(0,0,0,0.4);
    background-color:rgb(250, 250, 250);
}

div.card img.avatar{
    margin:0px 10px 0px 0px;
    float:left;
    width:auto;
    height:100%;
    border-radius:5%;
}