body {
    font-family: 'Segoe UI', sans-serif;
    margin:0;
}

span {
}

footer{
    background-color:darkslategray;
    color:white;

    width: 100%;
    height: auto;
    vertical-align:central;
    padding:3px;
}

footer div.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}

footer div.container div.item{
    width:200px;
    padding:20px;
    overflow:hidden;
}

footer div.item h5{
    font-size:1.05em;
}

footer div.item ul{
    margin:10px 0 10px 0;
    padding:0;
}

footer div.item li{
    list-style-type:none;
    vertical-align:middle;
}

footer div.item a{
    color:white;
    text-decoration:none;
}

footer div.item a:hover{
    color:white;
    text-decoration:underline;
}

footer div.item img{
    border-radius:50%;
    width:1.2em;
    height:auto;
    margin:0.2em;
    vertical-align:middle;
}
